<div>
    <h1>{{this.title}} - {{this.category}}</h1>
    <p>{{this.description}}</p>
    <span>${{this.price}}</span>
    <br>
    <span>Stock: {{this.stock}}</span>
    <br>
    <span>Code: {{this.code}} - ID: {{this._id}}</span>
</div>